# general ignores
/output/
.vscode/
/__pycache__/
ssbar_correlations
**/lib/**
**/src/*_cpp.d
**.root

pythia_example/pythia_example

CustomROOTClass/test

# O2 dir ignores
/O2/core_dump*
/O2/log_*
/O2/imgui.ini
/O2/test.json
/O2/dpl-config.json
/O2/stbc.code-workspace

# QC dir ignores
/QC/5*_investigation/
/QC/*.dat
/QC/*.log
/QC/*.ini
/QC/dpl-config.json